<head><link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+WyL/HbYabuL4paMZh1klC5CgL9ZN2u6I8Z" crossorigin="anonymous">
</head>
<body>

<div class="row mb-5 py-3" >
  <div class="row mb-5 py-3" >
    <% for (let i = 0; i< secrets.length; i++) { %>
        <% if (secrets[i] && secrets[i].secret) { %>
            <div class="col-md-4">
                <div class="card" style="width:18rem ">
                    <div class="card-body">
                        <h5 class="card-title"><%= secrets[i].title %></h5>
                        <p class="card-text"><%= secrets[i].secret %></p>
                    </div>
                </div>
            </div>
        <% } %>
    <% } %>
</div>

</div>


</body>